body {
    /* background-image: url('./joanna-kosinska-1_CMoFsPfso-unsplash.jpg'); */
    background-color: #FFE66D;    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: cover;
}

.header, h3 {
 text-align: center;
 margin: auto 0;
 font-size: 8em;
}


.space {
  margin: 0.5em;
}
.flex-login {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 50%;
  width: 55%;
  padding: 1em;
}

.flex-parent{
   display: flex;
   justify-content: center;
   align-content: center;
   margin-top: 3em;
   padding: 1em;
}

.flex-form{
    border: 3px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 50%;
    width: 50%;
}


