.flex-container {
   display:  flex;
   flex-direction: column;
   width: 50%;
}

.grand-container {
   display: flex;
   flex-direction: column;
}

.parent-container {
   display: flex;
   flex-direction: row;
   border: 3px black solid;
   justify-content: space-between;
   align-items: stretch;
 

}
.notification-container {
   border: 3px green solid;
}

.friends-container {
   border: 3px red solid;
}

.folder-container {
   border: 3px blue solid;
}

.results-container {
   border: 3px white solid;
}
